<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= PAGE_TITLE %></title>
    <%= stylesheet_link_tag  "yui-reset" %>
    <%= stylesheet_link_tag "style" %>
	 <%= stylesheet_link_tag "style2" %>

    <%= javascript_include_tag 'jquery-1.2.6' %>
    <%= javascript_include_tag 'jquery.corner' %>

    <script type="text/javascript">
      $(document).ready(
        function()
        {
          $(".head").click(
            function()
            {
              $(this).next().slideToggle("slow");
              $(this).toggleClass("active");
            } 
          ).next().hide();
      $("#wrapper").corner ("20px");
      }
    );
    </script>


  </head>

  <body>
	  <div id="wrapper">
      <h1><%= PAGE_TITLE %></h1>
		<% if flash[:notice] %>
			<div class="notice"><%= flash[:notice] %></div>
		<%end%>

      <h2>Sponsors:</h2>
      <%- @sponsors_by_level.each do |level,sponsors| -%>
        <h3><%= level %></h3>
        <%- sponsors.each do |sponsor| -%>
          <h4><%= sponsor.name %> <%= link_to sponsor.homepage, sponsor.homepage %></h4>
        <%- end -%>
      <% end %>

      <ul>
        <%- @rooms.each do |room| -%>
          <li class="room_name">
            <h3 class="head"><%= room.name %></h3>
            <ul>
              <%- if room.talks.empty? -%>
                <li class="no_talks"><%= NO_TALKS %></li>

              <%- else -%>
                  <%= render :partial => "talks", :locals => { :daypart_description => "Morning",   :talks => room.talks.morning.by_time }%>
                  <%= render :partial => "talks", :locals => { :daypart_description => "Afternoon", :talks => room.talks.afternoon.by_time }%>
              <%- end -%>
            </ul>
          </li>
        <%- end -%>
      </ul>
		<% if logged_in? %>
			<div class="admin-links">
				<%= link_to "New Talk", new_talk_path %> | <%= link_to "New Room", new_room_path %>
			</div>
		<%end%>
    </div>
	<div class="login">
		<% if logged_in? %>
			<p>You are logged in as <%= current_user.login %> (<%= link_to "logout", logout_path %>)</p>
		<%else%>
			<%= link_to "admin login", login_path %>
		<%end%>
	</div>
  </body>
</html>