<h2>Sponsors:</h2>
<%- @sponsors_by_level.each do |level,sponsors| -%>
  <h3><%= level %></h3>
  <%- sponsors.each do |sponsor| -%>
    <h4><%= sponsor.name %> <%= link_to sponsor.homepage, sponsor.homepage %></h4>
  <%- end -%>
<% end %>

<% if logged_in? %>
	<div class="admin-links">
		<%= link_to "New Talk", new_talk_path %> | <%= link_to "Manage Rooms", rooms_path %>
	</div>
<%end%>

<ul>
  <%- @rooms.each do |room| -%>
    <li class="room_name">
      <h3 class="head"><%= room.name %></h3>
      <ul>
        <%- if room.talks.empty? -%>
          <li class="no_talks"><%= NO_TALKS %></li>

        <%- else -%>
            <%= render :partial => "talks", :locals => { :daypart_description => "Morning",   :talks => room.talks.morning.by_time }%>
            <%= render :partial => "talks", :locals => { :daypart_description => "Afternoon", :talks => room.talks.afternoon.by_time }%>
        <%- end -%>
      </ul>
    </li>
  <%- end -%>
</ul>
