<% if logged_in? %>
	<div class="admin-links">
		<%= link_to "New Talk", new_talk_path %> | <%= link_to "Manage Rooms", rooms_path %> | <%= link_to "Manage Sponsors", sponsors_path %>
	</div>
<%end%>
   
<ul>
  <li class="sponsors">
    <h3 class="head">Sponsors:</h3>

    <ul>
      <%- @sponsors_by_level.each do |level,sponsors| -%>
        <%- sponsors.each do |sponsor| -%>
          <li><%= link_to( sponsor.name, sponsor.homepage, { :target => "_blank" } ) %></li>
        <%- end -%>
      <% end %>
    </ul>
  </li>
</ul>

<ul>
  <%- @rooms.each do |room| -%>
    <li class="room_name">
      <h3 class="head"><%= room.name %></h3>
      <ul>
        <%- if room.talks.empty? -%>
          <li class="no_talks"><%= NO_TALKS %></li>

        <%- else -%>
            <%= render :partial => "talks", :locals => { :daypart_description => "Morning",   :talks => room.talks.morning.by_time }%>
            <%= render :partial => "talks", :locals => { :daypart_description => "Afternoon", :talks => room.talks.afternoon.by_time }%>
        <%- end -%>
      </ul>
    </li>
  <%- end -%>
</ul>
